[Unit]
Description=Foo

[Service]
ExecStart=/home/pi/CowCounter/main
ExecStartPre=/bin/sleep 30
Restart=always

[Install]
WantedBy=multi-user.target