<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="eaFh1VlTF6AGBVZOeaJIpSCWQCV3Ahqv" />
        <add key="ApiClient.ClientSecret" value="5gZO0oAAXHp4A73a" />
        <add key="ApiClient.RedirectUri" value="https://localhost/" />
        <add key="ApiClient.AccessToken" value="SdpmjUgtL3cmc23ykOch0VW33YXi" />
        <add key="ApiClient.RefreshToken" value="jrTuFaV2Cs9wFYf96MN04f7DyaGwl7D0" />
        <add key="ApiClient.ExpirationDateTime" value="2024-01-23T21:00:32.2176944Z" />
    </appSettings>
</configuration>
